@using System.Collections
@using Microsoft.EntityFrameworkCore.Infrastructure
@using RandomThoughts.Models
@using RandomThoughts.Models.ThoughtViewModels


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var thoughts = Model as IEnumerable<ThoughtIndexViewModel>;
}
@await Html.PartialAsync("_ThoughtModal")

<div class="row">
    <h2 class="pull-left">Thoughts</h2>
    <button id="add-new-thought" type="button" class="btn btn-success pull-right">Create Thought</button>
</div>
<div class="hs-100">
    </div>
<div class="row" id="thoughts-container">

    @foreach (var thought in thoughts)
    {
        <div data-mood="@((int)thought.Mood)" data-id="@(thought.Id)" class="thought-inner-container col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <span class="thought-title"> @thought.Title</span>
                    <span class="thought-action-container pull-right">     
                        <button class="thought-view-btn">                   
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                        <button class="thought-edit-btn">  
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
                <div class="panel-body">
                <span class="thought-body">@thought.Body</span>
                </div>
            </div>
        </div>
    }
</div>


